    <footer class="footer" role="contentinfo">
    <div class="container footerBox">
      <div class="footerNote container">
        <ul class="listInlineDivider footerDisclaimer">
          <li>
            <i>Be good so they can't ignore you</i> - Steve Martin
          </li>
        </ul>
      </div>
    </div>
    <!-- //container-->
  </footer>
  <% if (typeof chartData != 'undefined') { %>
    <% include _chartjs %>
  <% } %>
  </body>
</html>