.chart
  height: 300px;
  width: 875px;

.smallChart
  height: 150px;
  width: 375px;

.waterfall img
  width: 100%;

.firstView
  color: #00f;

.refreshView
  color: #0d0;

.filmstrip
  background-color: #111;
  white-space:nowrap;
  border-bottom: 4px groove #fff

.filmstrip .frame
  display: inline-block;
  
.filmstrip .frameChange
  border: 3px solid #cc0;
  
.filmstrip .frameSame
  border: 3px solid #111;